
* {
  box-sizing: border-box;
font-family: 'Helvetica Neue', sans-serif;}

body {
          
        letter-spacing: 0.1rem;
         margin: 0rem;
           background-color: #FEFBF6;
        }

:focus {
   background-color:black; 
        color:#FFF;     
}

/* Banner */
.banner { 
  overflow: hidden; 
  background-color: #354044;
  padding: 0.5rem;
}

.banner a {
  color: white;
  float: center;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
}

.banner a:hover {
  text-decoration: underline;
}

/* Topnav */
.topnav {
  overflow: hidden; 
  background-color: #F0EDDC;
}

.topnav a {
  float: left;
  display: block;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    text-decoration: underline;
  height: auto;
}

/* Main */

h1 { text-align: left;
    font-size: 2.7rem; 
    padding-left: 1rem;
  padding-bottom: 0.2rem;
padding-top: 1rem; 
padding-right: 1rem;}

h2 {font-size: 2rem;
    padding-left: 1rem;
  padding-bottom: 0rem;
padding-top: 1rem; 
padding-right: 1rem;
line-height: 1.4;}

h2.servera {line-height: 1.4;
font-size: 1rem;
font-weight: bold;
padding-left: 1rem;
  padding-bottom: 0.2rem;
padding-top: 0rem; 
padding-right: 1rem;
line-height: 1.4;}

h3 {font-size: 1.5rem; 
    padding-left: 1rem;
  padding-bottom: 0rem;
padding-top: 1rem; 
padding-right: 1rem;
line-height: 1.4;}
    
p {line-height: 1.4;
font-size: 1 rem;
padding-left: 1rem;
  padding-bottom: 0.2rem;
padding-top: 0rem; 
padding-right: 1rem;}

li {line-height: 1.4rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem; 
padding-right: 0.5rem;
}

a {
  color: black;
  line-height: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-decoration: none;
  }

a:hover {
    text-decoration: underline;
}

.receptlista-start a {
  color: black;
  line-height: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-decoration: none;
  }

.receptlista-start a:hover {
    text-decoration: underline;
}

.receptlista-start :focus {
   background-color:black; 
        color:#FFF;     
}

    img {padding-left: 1rem;
      padding-right: 4rem;
  max-width: 100%;
  height: auto;
}

/* Footer */

.site-footer
{
  overflow: hidden; 
  background-color: #344044;
  color: #FEFBF6;
  padding: 1rem;
  font-size: 0.8rem;
}

@media (min-width: 600px) 
  body {
    margin-left: 7rem;
    margin-right: 7rem;
}


